src/
test/
.eslintignore
.eslintrc.js
node_modules/
coverage/
.idea/
.istanbul.yml
.babelrc
.codeclimate.yml
.travis.yml
.npmignore
.github/
__tests__/
.yarn/
.pnp*
.prettierrc
.yarnrc.yml
.vscode/
jest.*
tsconfig.json
